.justify{
    text-align: justify;
}

.container2{
    display: inline-block;
    width: 75%;
    margin-right: 2%;
    background-color: #0B243B;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    padding: 3% 5% 5% 5%;   
}

.ultimas{
    width: 20%;
    float: left;
    max-height: 500px;
    overflow-y: scroll;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #0B243B;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    padding-top: 1%;
}

.listlink{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 21ch;

}

.listlink:hover{
    color: white;
    font-weight: 600;
}

.conteudos{
    display: flex;
}